In [1]:
import sqlite3 
connection = sqlite3.connect('sample.db')
cursor = connection.cursor()

In [4]:
query = 'SELECT * FROM people LIMIT 10'
for result in cursor.execute(query):
    print(result)

(1, 'Norma', 'Johnson')
(2, 'Donald', 'Graham')
(3, 'Brian', 'Wilson')
(4, 'Rebekah', 'Ruiz')
(5, 'Melanie', 'Parrish')
(6, 'Dakota', 'Gomez')
(7, 'Gregory', 'Hood')
(8, 'Matthew', 'Webb')
(9, 'Ray', 'Russell')
(10, 'Kimberly', 'Powell')

In [5]:
for result in cursor.execute('SELECT name FROM people LIMIT 10'):
    print(result)

('Norma',)
('Donald',)
('Brian',)
('Rebekah',)
('Melanie',)
('Dakota',)
('Gregory',)
('Matthew',)
('Ray',)
('Kimberly',)

In [19]:
for result in cursor.execute('SELECT name, surname FROM people WHERE name="James" ORDER BY name DESC'):
    print(f"First name: {result[0]} , Last name: {result[1]}")

First name: James , Last name: Brooks
First name: James , Last name: Wilson
First name: James , Last name: Higgins
First name: James , Last name: West
First name: James , Last name: Brooks
First name: James , Last name: Wilson
First name: James , Last name: Higgins
First name: James , Last name: West
First name: James , Last name: Brooks
First name: James , Last name: Wilson
First name: James , Last name: Higgins
First name: James , Last name: West
First name: James , Last name: Anderson
First name: James , Last name: Petty
First name: James , Last name: Contreras
First name: James , Last name: Wells

In [44]:
for result in cursor.execute('SELECT name, surname FROM people WHERE name LIKE "Eliza__t%"'):
    print(f"First name: {result[0]} , Last name: {result[1]}")

First name: Elizabeth , Last name: Cummings
First name: Elizabeth , Last name: Cummings
First name: Elizabeth , Last name: Cummings
First name: Elizabeth , Last name: Soto
First name: Elizabeth , Last name: Vazquez
First name: Elizabeth , Last name: Anderson

In [33]:
for result in cursor.execute('SELECT name, surname FROM people WHERE name LIKE "l___"'):
    print(f"First name: {result[0]} , Last name: {result[1]}")

First name: Lisa , Last name: Oconnell
First name: Lisa , Last name: Gibbs
First name: Lisa , Last name: Ortiz